<app-layout>

  <div class="container">

    <div class="row">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Liabilities</mat-button-toggle>
            <mat-button-toggle value="italic">Assets</mat-button-toggle>
          </mat-button-toggle-group>
    </div>

    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Assets</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Amount</th>
              <th class="text-center">Description</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Date Modified</th>
              <th class="text-center"></th>
            </tr>
            <tr *ngFor="let liability of liabilitiesList; let id = index">
              <td>
                <span (keyup)="changeValue(id, 'Description', $event)" (blur)="updateList(id, 'Description', $event)"
                  contenteditable="true">{{liability.Description}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'Amount', $event)"
                  (blur)="updateList(id, 'Amount', $event)">{{liability.Amount}}</span>
              </td>
              <td>
                <span contenteditable="false">{{liability.DateCreated}}</span>
              </td>
              <td>
                <span contenteditable="false">{{liability.DateModified}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                    (click)="remove(id)">Remove</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-layout>