<app-layout>

  <div class="container">
    <app-currency-selector
      [selectedCurrencyString]="this.currentRateSelected ? this.currentRateSelected.CurrencyISO4217Code : 'not set'"
      [rates]="allCurrencies" (rateChanged)="rate_onChange($event)"></app-currency-selector>

    <div class="bg-light border border-light p-3 mt-2" autocomplete="off" novalidate>
      <h4>Add Assets/Liabilities</h4>
      <div class="form-group m-2">
        <form [formGroup]="frmAssetLiabilityEntre" class="mt-2">
          <div class="form-row mb-3 align-items-center">
            <div class="col">
              <input type="text" class="form-control" placeholder="Descrption" formControlName="Description">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="Amount" formControlName="Amount">
            </div>
            <div class="btn-group btn-group-toggle mr-2" ngbRadioGroup name="RadioWorthType" formControlName="NetWorthType">
              <label ngbButtonLabel class="btn-outline-success">
                <input ngbButton type="radio" value="Asset"> Asset
              </label>
              <label ngbButtonLabel class="btn-outline-danger">
                <input ngbButton type="radio" value="Liability"> Liability
              </label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addAssetOrLiability()">Add</button>
          </div>
        </form>
      </div>
    </div>

    <div class="card mt-2">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Liabilities</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Description</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Date Modified</th>
              <th class="text-center"></th>
            </tr>
            <tr *ngFor="let liability of liabilitiesList;">
              <td>
                <span (keyup)="changeValue($event)"
                  (blur)="onUpdateLiability(liability.identifier, 'description', $event)"
                  contenteditable="true">{{liability.description}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue($event)"
                  (blur)="onUpdateAmountLiability(liability.identifier, 'amountBase', $event)">{{liability.amountBase | currencyConverterPipe: currentRateSelected}}</span>
              </td>
              <td>
                <span class="bg-light" contenteditable="false">{{liability.timeCreated | dateTimestamp}}</span>
              </td>
              <td>
                <span class="bg-light" contenteditable="false">{{liability.timeModified | dateTimestamp}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button type="button" class="my-0 btn btn-danger btn-sm"
                    (click)="onRemoveLiability(liability.identifier)">Remove</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Assets</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Description</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Date Modified</th>
              <th class="text-center"></th>
            </tr>
            <tr *ngFor="let asset of assetList">
              <td>
                <span (keyup)="changeValue($event)" (blur)="onUpdateAsset(asset.identifier, 'description', $event)"
                  contenteditable="true">{{asset.description}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue($event)"
                  (blur)="onUpdateAmountAsset(asset.identifier, 'amountBase', $event)">{{asset.amountBase | currencyConverterPipe: currentRateSelected}}</span>
              </td>
              <td>
                <span class="bg-light" contenteditable="false">{{asset.timeCreated | dateTimestamp}}</span>
              </td>
              <td>
                <span class="bg-light" contenteditable="false">{{asset.timeModified | dateTimestamp}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button type="button" class="my-0 btn btn-danger btn-sm"
                    (click)="onRemoveAsset(asset.identifier)">Remove</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="d-flex mt-2 mb-3 border border-primary text-primary">
      <h3 class="p-2">Your Net Worth</h3>
      <h3 class="ml-auto p-2">{{currentTotal | currencyConverterPipe: currentRateSelected}}</h3>
    </div>

  </div>
</app-layout>