<app-layout>

  <div class="container">
    <form>
      <div class="form-row align-items-center">
        <div class="col">
          <input type="text" class="form-control" placeholder="Descrption">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Amount">
        </div>
        <div>
          <a class="btn pull-right" [ngClass]="IsAsset ? 'btn-primary' : 'btn-danger'"
            (click)="IsAsset = !IsAsset">
            {{IsAsset ? 'Asset' : 'Liability'}}
          </a>
        </div>
        <button type="submit" class="btn btn-primary" (click)="add()">Add</button>
      </div>
    </form>

    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Assets</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Amount</th>
              <th class="text-center">Description</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Date Modified</th>
              <th class="text-center"></th>
            </tr>
            <tr *ngFor="let liability of liabilitiesList; let id = index">
              <td>
                <span (keyup)="changeValue(id, 'Description', $event)" (blur)="updateList(id, 'Description', $event)"
                  contenteditable="true">{{liability.Description}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'Amount', $event)"
                  (blur)="updateList(id, 'Amount', $event)">{{liability.Amount}}</span>
              </td>
              <td>
                <span contenteditable="false">{{liability.DateCreated}}</span>
              </td>
              <td>
                <span contenteditable="false">{{liability.DateModified}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                    (click)="remove(id)">Remove</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-layout>